# Dependencies
composer.lock
/vendor
/node_modules
auth.json

# Environment
.env
.env.*
!.env.example
!.env.ci

# Logs
npm-debug.log
yarn-error.log

# OS
.DS_Store

# Caches
.cache
/build
/coverage

# IDE
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.phpactor.json

# Editors
/.idea
/.fleet
/.vscode
/.cursor
/.nova
/.zed

# Local overrides
phpstan.neon
/internal/
