/node_modules
/vendor
auth.json

# Environment
.env
.env.*
!.env.example
!.env.ci

# MacOS
.DS_STORE

# JS compilation
npm-debug.log
yarn-error.log

# IDE
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php
_ide_macros.php
.idea/*
!/.idea/codeStyles
/.fleet
/.nova
/.vscode
/.zed

.phpactor.json
