parameters:
	ignoreErrors:
		-
			rawMessage: '''
				Call to deprecated method setSigners() of class SanderMuller\SolanaPhpSdk\Transaction:
				Only the fee payer needs to be specified and it can be set in the Transaction constructor or with the `feePayer` property.
			'''
			identifier: method.deprecated
			count: 1
			path: tests/Unit/TransactionTest.php

