parameters:
	ignoreErrors:
		-
			rawMessage: 'Only booleans are allowed in an if condition, array<int, int>|Collectiq\SolanaPhpSdk\Util\Buffer|null given.'
			identifier: if.condNotBoolean
			count: 1
			path: src/Account.php

		-
			rawMessage: 'Out of 31 possible property types, only 30 - 96.7 %% actually have it. Add more property types to get over 100 %%'
			identifier: typeCoverage.propertyTypeCoverage
			count: 1
			path: src/Accounts/DidData.php

		-
			rawMessage: Property Collectiq\SolanaPhpSdk\Accounts\DidData::$keyData has no type specified.
			identifier: missingType.property
			count: 1
			path: src/Accounts/DidData.php

		-
			rawMessage: 'Variable property access on $this(Collectiq\SolanaPhpSdk\Accounts\MetadataData).'
			identifier: property.dynamicName
			count: 1
			path: src/Accounts/MetadataData.php

		-
			rawMessage: 'Parameter #1 $buffer of static method Collectiq\SolanaPhpSdk\Accounts\NtfRecordAccount::deserialize() expects array<int, int>, list given.'
			identifier: argument.type
			count: 1
			path: src/Accounts/Sns/NtfRecordAccount.php

		-
			rawMessage: 'Argument of an invalid type mixed supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 2
			path: src/Anchor/IdlInstruction.php

		-
			rawMessage: 'Parameter #1 $network of class Collectiq\SolanaPhpSdk\Services\SolanaRpcClient constructor expects Collectiq\SolanaPhpSdk\Enum\Network, mixed given.'
			identifier: argument.type
			count: 1
			path: src/Bootstrap.php

		-
			rawMessage: Cannot cast mixed to float.
			identifier: cast.double
			count: 2
			path: src/Borsh/BinaryReader.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 2
			path: src/Borsh/BinaryReader.php

		-
			rawMessage: 'Parameter #1 $array of method Collectiq\SolanaPhpSdk\Borsh\BinaryWriter::writeArray() expects array<int, mixed>, array<mixed, mixed> given.'
			identifier: argument.type
			count: 1
			path: src/Borsh/Borsh.php

		-
			rawMessage: 'Parameter #2 $fieldType of static method Collectiq\SolanaPhpSdk\Borsh\Borsh::serializeOptionField() expects array<string, mixed>, array<mixed, mixed> given.'
			identifier: argument.type
			count: 1
			path: src/Borsh/Borsh.php

		-
			rawMessage: Variable property access on object.
			identifier: property.dynamicName
			count: 6
			path: src/Borsh/Borsh.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 8
			path: src/Connection.php

		-
			rawMessage: Cannot cast mixed to string.
			identifier: cast.string
			count: 1
			path: src/DataObjects/SolMemo.php

		-
			rawMessage: 'Parameter #1 $value of static method Collectiq\SolanaPhpSdk\Enum\Network::tryFrom() expects int|string, string|null given.'
			identifier: argument.type
			count: 1
			path: src/Did/DiDUri.php

		-
			rawMessage: 'Method Collectiq\SolanaPhpSdk\Message::encodeInstruction() should return array<int, int> but returns array<int>.'
			identifier: return.type
			count: 1
			path: src/Message.php

		-
			rawMessage: 'Parameter #1 $offset of method Collectiq\SolanaPhpSdk\Util\Buffer::slice() expects int, int|null given.'
			identifier: argument.type
			count: 3
			path: src/MessageV0.php

		-
			rawMessage: 'Parameter $programIdIndex of class Collectiq\SolanaPhpSdk\Util\CompiledInstruction constructor expects int, int|string given.'
			identifier: argument.type
			count: 1
			path: src/MessageV0.php

		-
			rawMessage: 'Parameter #1 $buffer of static method Collectiq\SolanaPhpSdk\Accounts\DidData::fromBuffer() expects array<int, int>, list given.'
			identifier: argument.type
			count: 1
			path: src/Programs/DidSolProgram.php

		-
			rawMessage: 'Class Collectiq\SolanaPhpSdk\Programs\SNS\State\ReverseInstructionAccount constructor invoked with 0 parameters, 1 required.'
			identifier: arguments.count
			count: 1
			path: src/Programs/SNS/State/ReverseInstructionAccount.php

		-
			rawMessage: 'Property Collectiq\SolanaPhpSdk\Programs\SNS\State\ReverseInstructionAccount::$name is never read, only written.'
			identifier: property.onlyWritten
			count: 1
			path: src/Programs/SNS/State/ReverseInstructionAccount.php

		-
			rawMessage: 'Property Collectiq\SolanaPhpSdk\Programs\SNS\State\ReverseInstructionAccount::$tag is never read, only written.'
			identifier: property.onlyWritten
			count: 1
			path: src/Programs/SNS/State/ReverseInstructionAccount.php

		-
			rawMessage: Cannot cast mixed to int.
			identifier: cast.int
			count: 1
			path: src/Programs/SnsProgram.php

		-
			rawMessage: Cannot cast mixed to string.
			identifier: cast.string
			count: 12
			path: src/Programs/SnsProgram.php

		-
			rawMessage: 'Parameter #1 $signature of function sodium_crypto_sign_verify_detached expects non-empty-string, string given.'
			identifier: argument.type
			count: 1
			path: src/PublicKey.php

		-
			rawMessage: '''
				Call to deprecated method setTimeout() of class WebSocket\Client:
				Will be removed in future version, set on Configuration instead
			'''
			identifier: method.deprecated
			count: 1
			path: src/Services/SolanaPubSubClient.php

		-
			rawMessage: Cannot cast mixed to string.
			identifier: cast.string
			count: 1
			path: src/Services/SolanaPubSubClient.php

		-
			rawMessage: 'Dynamic call to static method Illuminate\Http\Client\PendingRequest<false>::throw().'
			identifier: staticMethod.dynamicCall
			count: 1
			path: src/Services/SolanaRpcClient.php

		-
			rawMessage: Use explicit methods over array access on object
			identifier: typePerfect.noArrayAccessOnObject
			count: 2
			path: src/Transaction.php

		-
			rawMessage: Cannot access offset 'err' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Feature/ConnectionFeatureTest.php

		-
			rawMessage: 'Parameter #1 $recentBlockhash of class Collectiq\SolanaPhpSdk\Transaction constructor expects Collectiq\SolanaPhpSdk\PublicKey|string|null, mixed given.'
			identifier: argument.type
			count: 1
			path: tests/Feature/ConnectionFeatureTest.php

		-
			rawMessage: 'Only booleans are allowed in a negated boolean, string|false given.'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: tests/TestCase.php

		-
			rawMessage: Possibly invalid array key type mixed.
			identifier: offsetAccess.invalidOffset
			count: 1
			path: tests/TestCase.php

		-
			rawMessage: Access to an undefined property Collectiq\SolanaPhpSdk\Tests\Unit\TestObject::$x.
			identifier: property.notFound
			count: 8
			path: tests/Unit/BorshTest.php

		-
			rawMessage: 'Unsafe usage of new static().'
			identifier: new.static
			count: 3
			path: tests/Unit/BorshTest.php

		-
			rawMessage: 'Only iterables can be unpacked, array|false given.'
			identifier: arrayUnpacking.nonIterable
			count: 3
			path: tests/Unit/BufferTest.php

		-
			rawMessage: Cannot access offset 'commitment' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/ConfirmTransactionTest.php

		-
			rawMessage: Cannot access offset 0 on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/ConfirmTransactionTest.php

		-
			rawMessage: 'Cannot call method andReturn() on mixed.'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/ConnectionTest.php

		-
			rawMessage: 'Cannot call method with() on mixed.'
			identifier: method.nonObject
			count: 1
			path: tests/Unit/ConnectionTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with ''Collectiq\\SolanaPhpSdk\\PublicKey'' and Collectiq\SolanaPhpSdk\PublicKey will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/Programs/SNS/DerivationTest.php

		-
			rawMessage: 'Call to function base64_decode() requires parameter #2 to be set.'
			identifier: function.strict
			count: 1
			path: tests/Unit/Programs/SNS/NameRegistryStateTest.php

		-
			rawMessage: Cannot access offset 1 on array|false.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Programs/SplTokenInstructionsTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertInstanceOf() with ''Collectiq\\SolanaPhpSdk\\SecretKey'' and Collectiq\SolanaPhpSdk\SecretKey will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/SecretKeyTest.php

		-
			rawMessage: Cannot access offset 0 on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Unit/Services/SolanaPubSubClientTest.php

		-
			rawMessage: Cannot access offset 1 on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Unit/Services/SolanaPubSubClientTest.php

		-
			rawMessage: 'Parameter #1 $buffer of static method Collectiq\SolanaPhpSdk\Util\ShortVec::decodeLength() expects array<int, int>|Collectiq\SolanaPhpSdk\Util\Buffer, array<int> given.'
			identifier: argument.type
			count: 1
			path: tests/Unit/ShortVecTest.php

		-
			rawMessage: '''
				Call to deprecated method setSigners() of class Collectiq\SolanaPhpSdk\Transaction:
				Only the fee payer needs to be specified and it can be set in the Transaction constructor or with the `feePayer` property.
			'''
			identifier: method.deprecated
			count: 1
			path: tests/Unit/TransactionTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertNotSame() with '''' and non-falsy-string will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/TransactionTest.php
